body{
        display:flex;
        justify-content:center;
        margin:0px;
        padding:0px;
        background:rgb(46, 46, 46);
    }
    p{
    color:white;
    }
    #main{
        display:grid;
        grid-template-rows:repeat(10,55px);
        grid-template-columns:repeat(10,50px);
        border-radius:25px;
        width:500px;
        height:550px;
        background:linear-gradient(to bottom right,rgb(255, 24, 197),rgb(39, 0, 214));
        margin-top:50%;
    }
    #search_div{
        /* border:2px solid black; */
        grid-column-start:1;
        grid-column-end:11;
        grid-row-start:1;
        grid-row-end:3;
        display:flex;
        align-items:center;
        justify-content:center;
        gap:30px;
    }
    #search_box{
        height:35px;
        width:300px;
        border-radius:20px;
        border:1px solid rgb(255, 255, 255);
        outline:none;
        margin-left:0px;
    }
    #search_btn{
        height:44px;
        width:44px;
        border-radius:50%;
        border:none;
        background:rgb(255, 255, 255);
        color:white;  
    }
    #search_btn:hover{
        cursor:pointer;
    }
    #search_btn img{
        height:95%;
        width:95%;
        object-fit:contain;
    }
    #content_box{
        display:flex;
        flex-direction:column;
/*         border:1px solid red; */
        grid-row-start:3;
        grid-row-end:11;
        grid-column-start:1;
        grid-column-end:11;
        align-items:center;
    }
    #weather_box{
        width:100%;
        height:200px;
        /* border:2px solid green; */
    }
    #weather_box img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
    #city_temp_box{
        display:flex;
        flex-direction:column;
        /* border:1px solid white; */
        width:100%;
        align-items:center;
        height:100px;
    }
    #dis_temp{
        font-size:35px;
        font-weight: bold;
        margin-top:10px;
    }
    #dis_city{
        font-size:20px;
        margin-top:-25px;
        font-family:Arial, Helvetica, sans-serif;
    }
    #scale{
        display:flex;
/*         border:1px solid white; */
        margin-top:40px;
        width:100%;
        height:50px;
        align-items:center;
    }
    #hum_img_box{
        /* border:2px solid black; */
        width:45px;
        height:100%;
        /* margin-right:-20px; */
        margin-left:50px;
    }
    #hum_img_box img,#ws_img_box img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
    #hum_scale_box{
        /* border:1px solid yellow; */
        height:100%;
        width:150px;
        display:flex;
        align-items:center;
    }
    #hum_scale ,#winds_scale{
        font-size:1.8rem;
        margin-left:10px;
    }
    #ws_img_box{
        /* border:2px solid black; */
        width:50px;
        height:100%; 
        margin-left:5px;
        /* margin-right:-20px; */
    }
    #ws_scale_box{
        /* border:1px solid rgb(0, 255, 42); */
        height:100%;
        width:150px;
        display:flex;
        align-items:center;
    }
    #hum_winds{
        width:100%;
        /* border:1px solid rgb(255, 0, 0); */
        display:flex;
        margin-top:0px;
        font-size:13px;
        font-family:Arial;
    }
    #hum{
        margin-left:110px;
        margin-top:-5px;
    }
    #winds{
        margin-top:-5px;
        margin-left:-25px;
    }

    /*Media Querries*/
    @media (max-width:1440px){
        #main{
            margin-top:3.5%;
        }
    #hum{
        margin-left:21%;
        margin-top:-5px;
    }
    #winds{
        margin-top:-5px;
        margin-left:32%;
    }
    }

    @media (max-width:1024px){
        #main{
            margin-top:0.5%;
        }

    #hum{
        margin-left:21%;
        margin-top:-5px;
    }

    #winds{
        margin-top:-5px;
        margin-left:35%;
    }
    }

    @media (max-width:768px){
        #main{
        display:grid;
        grid-template-rows:repeat(10,55px);
        grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
        border-radius:25px;
        width:65%;
        height:550px;
        background:linear-gradient(to bottom right,rgb(255, 24, 197),rgb(39, 0, 214));
        } 
#search_div{
        /* border:1px solid black; */
        grid-column-start:1;
        grid-column-end:12;
        grid-row-start:1;
        grid-row-end:3;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    #search_box{
        height:35px;
        width:65%;
        border-radius:20px;
        border:1px solid rgb(255, 255, 255);
        outline:none;
        margin-left:0px;
    }

    #content_box{
        display:flex;
        flex-direction:column;
        /* border:1px solid red; */
        grid-row-start:3;
        grid-row-end:11;
        grid-column-start:1;
        grid-column-end:12;
        align-items:center;
    }

    #scale{
        display:flex;
        /* border:1px solid white; */
        margin-top:40px;
        width:100%;
        height:50px;
        align-items:center;
        gap:5px;
    }

    #hum_img_box{
        /* border:1px solid black; */
        width:45px;
        height:100%;
        margin-left:12%;
    }

    #hum_scale_box{
        /* border:1px solid yellow; */
        height:100%;
        width:max-content;
    }

    #ws_img_box{
        /* border:1px solid black; */
        width:max-content;
        height:100%; 
        margin-left:15%;
    }

    #ws_scale_box{
        /* border:1px solid rgb(0, 255, 42); */
        height:100%;
        width:max-content;
    }

    #hum_scale ,#winds_scale{
        font-size:clamp(1rem,1.5rem,1.8rem);
    }

    #hum{
        margin-left:23%;
        margin-top:-5px;
    }
    #winds{
        margin-top:-5px;
        margin-left:28%;
    }
    }

    @media (max-width:480px){
        #main{
            grid-template-rows:repeat(10,55px);
            grid-template-columns:repeat(auto-fit,minmax(50px,1fr));
            width:80%;
            height:70%;
        }
        #search_div{
        /* border:2px solid black; */
        grid-column-start:1;
        grid-column-end:12;
        grid-row-start:1;
        grid-row-end:3;
        display:flex;
        align-items:center;
        justify-content:space-around;
    }
    #search_box{
        height:35px;
        width:65%;
        border-radius:20px;
        border:1px solid rgb(255, 255, 255);
        outline:none;
        margin-left:0px;
    }

    #content_box{
        display:flex;
        flex-direction:column;
        /* border:1px solid red; */
        grid-row-start:3;
        grid-row-end:11;
        grid-column-start:1;
        grid-column-end:12;
        align-items:center;
    }

    #scale{
        display:flex;
/*         border:1px solid white; */
        margin-top:40px;
        width:100%;
        height:50px;
        align-items:center;
        gap:10px;
    }

    #hum_scale_box{
/*         border:1px solid yellow; */
        height:100%;
        width:max-content;
        display:flex;
        align-items:center;
    }

    #ws_scale_box{
/*         border:1px solid rgb(0, 255, 42); */
        height:100%;
        width:max-content;
        display:flex;
        align-items:center;
    }

    #hum_scale ,#winds_scale{
        font-size:clamp(16px,0.5rem,1.2rem);
    }

    #hum{
        margin-left:27%;
        margin-top:-5px;
    }
    #winds{
        margin-top:-5px;
        margin-left:34%;
    }

    }
